.home-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid var(--ion-color-primary);
    .home-header-left {
        display: flex;
        flex-direction: row;
        width: 35%;
        .welcome-text {
            margin-left: 25px;
        }
    }
    .home-header-right {
        width: 30%;
    }
}