<div class="home-header">
  <div class="home-header-left">
    <img src="../../../assets/icon/avatar.svg" />
    <div class="welcome-text">
      <h2>Welcome, John</h2>
      <p>Today is a great day</p>
    </div>
  </div>
  <div class="home-header-right">
    <ion-toolbar>
      <ion-searchbar [clearIcon]="false"  placeholder="Search Learner or Session here" ></ion-searchbar>
    </ion-toolbar>
    <!-- <ion-searchbar [clearIcon]="false"></ion-searchbar> -->
  </div>
</div>