.container {
    white-space: nowrap;
    display: flex;
}
.column50 {
    width: 100%;
}

.column100 {
    width: 100%;
}

.secondDiv {
    width: 68px;
    text-align: center;
    padding-top: 20px;
    background-color: var(--ion-primary-background);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 65px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    min-height: calc(100vh - 232px);
}

.secondDivWidth {
    width: 300px;
    background-color: var(--ion-primary-background);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 30px;
    margin-bottom: 65px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    min-height: calc(100vh - 232px);
    .event-based {
        ul {
            margin: 0px;
            padding: 10px 0px 0px 0px;
            li {
                list-style: none;
                padding: 15px;
            }
        }
    }
}

.page-header {
    text-align: center;
    background-color: var(--ion-primary-background);
    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--ion-color-primary);
        margin: 0px !important;
    }
}

ion-grid {
    padding: 0px !important;
}

.page-title {
    // display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid var(--ion-color-primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    .page-topic-div {
        padding-top: 5px;
        padding-bottom: 5px;
        .page-topic-title {
            display: inline;
            color: #707070;
        }
        .page-topic-content {
            display: inline;
            color: var(--ion-color-secondary);
        }
    }
    .phase-btn {
        background: var(--ion-color-primary);
        padding: 5px;
        color: #ffffff;
        border-radius: 10px;
    }
    .page-title-btn {
        width: 110px;
        height: 30px;
    }
}

.table-col {
    padding: 20px;
    .record-data {
        text-align: center;
        margin-top: 50px;
        .record-btn {
            font-size: 22px !important;
            padding: 20px 30px;
            border-radius: 2px;
        }
    }
    .record-box {
        display: flex;
        justify-content: center;
        .record-box-div {
            margin-top: 50px;
            border: 1px solid var(--ion-color-primary);
            width: 70%;
            border-radius: 20px;
            .record-box-div-header {
                text-align: center;
                h6 {
                    margin: 0px !important;
                    background: var(--ion-color-primary);
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    color: var(--white-color);
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        ul {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-bottom: 5px;
            li {
                list-style: none;
                // border-bottom: 1px solid black;
            }
        }
    }
    .table-grid {
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        padding: 0px;
        border: 1px solid var(--ion-color-primary);
        .table-row {
            background-color: #dce0e8;
        }
        .odd {
            background: #ffffff;
            ion-col {
                border-right: 1px solid var(--ion-color-primary);
                text-align: center;
            }
        }
        .even {
            background: #faf6fd;
            ion-col {
                border-right: 1px solid var(--ion-color-primary);
                text-align: center;
            }
        }
        ion-col {
            text-align: center;
        }
    }
}

h4 {
    font-weight: bold;
    color: var(--ion-color-primary);
}
.italic {
    border: 1px solid var(--ion-color-secondary);
    border-radius: 20px;
}
.btn {
    justify-content: center;
    display: flex;
}
.session {
    background-color: var(--ion-primary-background);
    margin: 40px;
    padding: 20px;
}
.summary-text1 p {
    color: var(--ion-color-secondary);
    padding: 5px;
}
.summary-text p {
    color: var(--ion-color-primary);
    padding: 5px;
}
.secondary-button1 {
    margin-top: 20px;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--ion-color-primary);
    background-color: #ffffff;
    border: 1px solid var(--ion-color-primary);
    border-radius: 50px;
}
.secondary-button2 {
    margin-top: 20px;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    border-radius: 50px;
}
.text {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.img {
    background-color: #e9b2c5;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}
.secondary-button3 {
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: var(--ion-color-primary);
    border-radius: 50px;
}

.page-footer {
    text-align: center;
    width: 100%;
    background: var(--ion-color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    // align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    .footer-menu {
        padding: 12px 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        span {
            padding-left: 12px;
        }
        .end-session-btn {
            padding: 6px;
            background: #ffffff;
            color: var(--ion-color-secondary);
        }
    }
}
.input {
    // justify-content: space-between;
    display: flex;
}

.line::after {
    content: "";
    width: 35%;
    border-bottom: solid 2px var(--ion-color-secondary);
    position: absolute;
    left: 33%;
    top: 13%;
    z-index: 1;
}
.line {
    justify-content: center;
    display: flex;
    // margin-top: 20px;
}
.image-back {
    background-color: #e9b2c5;
    border-radius: 20px;
    margin-left: 20px;
    width: 30px;
    height: 25px;
}
.icon {
    margin: 5px 9px;
    height: 13px;
    width: 13px;
}
.text1 {
    // justify-content: center;
    display: flex;
    // margin-top: 20px;
    margin-left: 20px;
}
.tag-p {
    margin-left: 10px;
    align-items: center;
    display: flex;
}
.button {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.footer-menu.active {
    background-color: var(--ion-color-primary);
}
.text-header {
    font-weight: bold;
    color: var(--ion-color-primary);
}

.tag {
  
    color: var(--ion-color-primary);
    font-size: 15px !important;
}
h4{
    font-size: 32px !important;
    font-family: 'Quicksand-Bold' !important;
}
h5{
    font-size: 25px !important;
    font-family: 'Quicksand-Bold' !important;
}