<ion-content [fullscreen]="true">
  <!-- <div class="page-header">
    <h2>Bresh Teeth Training</h2>
  </div> -->
  <ion-grid>
    <!-- <div class="page-title">
      <ion-row>
        <p *ngIf="dataReturned">{{dataReturned}}</p>
        <ion-col size="4">
          <div class="page-topic-div">
            <p class="page-topic-title">TARGET - </p>
            <p class="page-topic-content">Brush</p>
          </div>
          <div class="page-topic-div">
            <p class="page-topic-title">PHASE - </p>
            <p class="page-topic-content">Regress</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-grid>
              <div style="text-align: left;">
                <ion-row>
                  <ion-col size="4">
                    <p>Instruction:</p>
                  </ion-col>
                  <ion-col size="3">
                    <p class="text-header">Brush Your teeth</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <p>Prompting Procedure:</p>
                  </ion-col>
                  <ion-col size="3">
                   <p class="text-header">Time Delay</p> 
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <p>TA:</p>
                  </ion-col>
                  <ion-col size="3">
                    <p class="text-header">Forward Chain</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </ion-col> -->
    <!-- <ion-col>
          <div style="text-align: end;">
            <div>
              <button class="page-title-btn secondary-button">Regress Phase</button>
            </div>
            <div style="margin-top: 15px;">
              <button  (click)="openModal()" class="page-title-btn secondary-button">+ Information</button>
            </div>
          </div>
        </ion-col> -->
    <!-- </ion-row>
    </div> -->
    <ion-row style="margin-top: 30px;">
      <ion-col size="5">
        <div class="text">
          <h4>SUMMARY SESSION NOTE</h4>
        </div>
        <ion-row class="session">
          <ion-col>
            <div class="summary-text">
              <p>Date:</p>
              <p>Session Start time:</p>
              <p>Session End Time:</p>
              <p>Duration:</p>
              <p>Name of therapist:</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="summary-text1">
              <p>21 Jan 2022</p>
              <p>12:22 PM</p>
              <p>02:40PM</p>
              <p>1:22 Hrs</p>
              <p>Jhon Mark</p>
            </div>
          </ion-col>
        </ion-row>

        <!-- <div>
          <p></p>
        </div> -->
      </ion-col>
      <ion-col size="7">
        <div class="line">
          <h5>Session note</h5>
        </div>
        <div style="margin-top: 40px;">
          <ion-textarea class="italic" rows="10" cols="5" autoGrow="true" maxlength="200"
            placeholder="Enter your note here... " style="padding-left: 10px;"></ion-textarea>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <div style="width:70%">
          <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <div>
              <ion-item>
                <ion-input placeholder="Therapist Name"></ion-input>
              </ion-item>
            </div>
            <div class="text">
              <div>
                <img src="../../../../assets/icon/location.png" (click)="openModal()">
              </div>
              <div>
                <p>Victoria, Australia</p>
              </div>
            </div>
          </div>
          <div>
            <div>
              <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="Therapist signature">
              </ion-textarea>
            </div>
          </div>
          <div class="input" style="margin-top:0.5rem;">
            <div class="image-back"  (click)="onButtonClick()">
              <img src="../../../../assets/icon/plus.png" class="icon">
            </div>
            <div class="tag-p">
              <p class="tag">Add Another Signature</p>
            </div>
            <div class="text1">
              <div class="image-back">
                <img src="../../../../assets/icon/delete.png" class="icon">
                <!-- <img src="../../../../assets/icon/location.png" (click)="openModal()"> -->
              </div>
              <div class="tag-p">
                <p class="tag">Delete Signature</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col style="display: flex; justify-content: center;">
        <div style="width:70%">
          <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <div>
              <ion-item>
                <ion-input placeholder="parent Name"></ion-input>
              </ion-item>
            </div>
            <div class="text">
              <div>
                <img src="../../../../assets/icon/location.png" (click)="openModal()">
              </div>
              <div>
                <!-- <p>Victoria, Australia</p> -->
              </div>
            </div>
          </div>
          <div>
            <div>
              <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="parent signature">
              </ion-textarea>
            </div>
          </div>
          <div class="input" style="margin-top:0.5rem;">
            <div class="image-back">
              <img src="../../../../assets/icon/plus.png" class="icon">
            </div>
            <div class="tag-p">
              <p class="tag">Add Another Signature</p>
            </div>
            <div class="text1">
              <div class="image-back">
                <img src="../../../../assets/icon/delete.png" class="icon">
                <!-- <img src="../../../../assets/icon/location.png" (click)="openModal()"> -->
              </div>
              <div class="tag-p">
                <p class="tag">Delete Signature</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="buttonClicked" type="text" value="">
      <ion-col style="display: flex; justify-content: center;" >
        <div style="width:70%">
          <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <div>
              <ion-item>
                <ion-input placeholder="Therapist Name"></ion-input>
              </ion-item>
            </div>
            <div class="text">
              <div>
                <img src="../../../../assets/icon/location.png" (click)="openModal()">
              </div>
              <div>
                <p>Victoria, Australia</p>
              </div>
            </div>
          </div>
          <div>
            <div>
              <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="Therapist signature">
              </ion-textarea>
            </div>
          </div>
          <div class="input" style="margin-top:0.5rem;">
            <div class="image-back">
              <img src="../../../../assets/icon/plus.png" class="icon">
            </div>
            <div class="tag-p">
              <p class="tag">Add Another Signature</p>
            </div>
            <div class="text1">
              <div class="image-back">
                <img src="../../../../assets/icon/delete.png" class="icon">
                <!-- <img src="../../../../assets/icon/location.png" (click)="openModal()"> -->
              </div>
              <div class="tag-p">
                <p class="tag">Delete Signature</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col style="display: flex; justify-content: center;">
        <div style="width:70%">
          <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <div>
              <ion-item>
                <ion-input placeholder="parent Name"></ion-input>
              </ion-item>
            </div>
            <div class="text">
              <div>
                <img src="../../../../assets/icon/location.png" (click)="openModal()">
              </div>
              <div>
                <p>Victoria, Australia</p>
              </div>
            </div>
          </div>
          <div>
            <div>
              <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="parent signature">
              </ion-textarea>
            </div>
          </div>
          <div class="input" style="margin-top:0.5rem;">
            <div class="image-back">
              <img src="../../../../assets/icon/plus.png" class="icon">
            </div>
            <div class="tag-p">
              <p class="tag">Add Another Signature</p>
            </div>
            <div class="text1">
              <div class="image-back">
                <img src="../../../../assets/icon/delete.png" class="icon">
                <!-- <img src="../../../../assets/icon/location.png" (click)="openModal()"> -->
              </div>
              <div class="tag-p">
                <p class="tag">Delete Signature</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>




    <ion-row class="button">
      <ion-col size="3">
        <div class="btn">
          <button class=" secondary-button1">CANCEL</button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="btn">
          <button class="secondary-button2" (click)="closenote()">SAVE</button>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="input">

      <ion-col size="2">
        <ion-item>
          <ion-input placeholder="Therapist Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <div class="text">
          <div>
            <img src="../../../../assets/icon/location.png" (click)="openModal()">
          </div>
          <div>
            <p>Victoria, Australia</p>
          </div>
        </div>
      </ion-col>

      <ion-col size="2">
        <ion-item>
          <ion-input placeholder="Parent Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <div class="text">
          <div>
            <img src="../../../../assets/icon/location.png" (click)="openModal()">
          </div>
          <div>
            <p>Victoria, Australia</p>
          </div>
        </div>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="8">
              <div style="margin: 20px;">
                <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="Therapist signature">
                </ion-textarea>
              </div>
            </ion-col>
            <ion-col size="1" class="img" style="margin: 20px;">
              <div class="img">
                <img src="../../../../assets/icon/plus.png" (click)=toggleDisplayDiv()>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>
            <ion-col size="8">
              <div style="margin: 20px;">
                <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="Parent signature">
                </ion-textarea>
              </div>
            </ion-col>
            <ion-col size="1" class="img" style="margin: 20px;">
              <div>
                <img src="../../../../assets/icon/plus.png">
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [hidden]="isShowDiv">
          <ion-row>
            <ion-col size="4">
              <div style="margin: 20px;">
                <ion-textarea class="italic" rows="3" autoGrow="true" placeholder="Therapist signature">
                </ion-textarea>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row> -->

    <!-- <div>
        <button class="secondary-button3" (click)="closenote()">CLOSE NOTES</button>
      </div> -->
  </ion-grid>

</ion-content>


<ion-footer>
  <div class="page-footer">
    <div class="footer-menu">
      <img src="../../../assets/images/timer.png" />
      <span>00:00:00</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/notes.png" />
      <a routerLink="/menu/first/addnotes"><span>ADD COMMENTS</span></a>
    </div>
    <div class="footer-menu active">
      <div class="menu">
        <img src="../../../assets/images/summary.png" />
        <a routerLink="/menu/first/summary" routerLinkActive="router-link-active"><span>SESSION NOTE</span></a>
      </div>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/help.png" />
      <span>HELP?</span>
    </div>
    <div class="footer-menu">
      <button class="end-session-btn" (click)="logOut()">End Session</button>

    </div>
  </div>
</ion-footer>