<ion-split-pane when="(min-width: 40px)" contentId="content" class="my-custom-menu">
  <!--  the side menu  -->
  <ion-menu contentId="content">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-content class="ion-text-center">

      <img (click)="gotoHome()" class="app-icon" src="../../../assets/images/app-icon.png" />

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <div class="menu-list" [routerLink]="p.url" routerDirection="root"
            [class.active-item]="selectedPath === p.url">
            <!-- {{p.title}} -->
            <img [src]="p.title" />
          </div>
        </ion-menu-toggle>
      </ion-list>

      <div (click)="logOut()" class="logout-icon">
        <img src="../../../assets/images/Logout.png" />
      </div>

    </ion-content>
  </ion-menu>

  <!-- the content content -->
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>

<!-- <ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
            {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id='content' main></ion-router-outlet>
</ion-split-pane> -->