.active-item {
    // border-left: 8px solid #ffffff;
    background-image: linear-gradient(to right, transparent , #EB2168);
}

.split-pane-visible > ion-menu {
    min-width: 96px;
    max-width: 96px;
    --ion-background-color: var(--ion-color-primary);
}

.app-icon {
    height: 96px;
    max-width: 96px !important;
}

.menu-list {
    --border-style: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-list {
    margin-top: 100px;
}

.logout-icon {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
}
