<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="line">
          <h3> Location</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="fake-input">
      
          <ion-input placeholder="enter your location...." class="input-text "> </ion-input>
          <img src="../../../../assets/icon/precision.png">
          <select name="carlist" form="carform">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        
          <div class="record-data">
            <button class="record-btn" (click)="closeModal()">Save</button>
          </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>