.modal-collapse-col {
 
    .active,
    .modal-collapse:hover {
        background-color: #eeebf6;
    }
    .modal-collapse:after {
        position: absolute;
        right: 20px;
        top: 5px;
        transform: translate(50%, 50%);
        content: url("../../../../assets/images/Icon\ awesome-angle-down.png");
    }
    .active:after {
        position: absolute;
        right: 20px;
        top: 5px;
        transform: translate(50%, 50%);
        content: url("../../../../assets/images/Icon\ awesome-angle-up.png");
    }
    .modal-collapse-panel {
        background-color: #eeebf6;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
}
h3 {
    text-align: center;
    font-weight: bold;
}
.input-text {
    border: 1px solid var(--ion-color-secondary);
    border-radius: 20px;
    margin-top: 20px;
}
.record-btn {
    font-size: 18px !important;
    color: #fff;
    background-color: var(--ion-color-secondary);
    padding: 10px 50px;
    border-radius: 20px;
    margin: 20px;
}

.line::after {
    content: "";
    width: 40%;
    border-bottom: solid 2px var(--ion-color-secondary);
    position: absolute;
    left: 30%;
    top: 90%;
    z-index: 1;
}
.fake-input {
    position: relative;
    width: 240px;
}
.fake-input input {
    border: none;
    background: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.fake-input img {
    position: absolute;
    top: 30px;
    right: 20px;
}
