// @keyframes content-title {
//     0% {
//         transform: translateX(1024px);
//     }
//     100% {
//         transform: translateX(-50px);
//     }
// }
// ion-content {
//     --background: url("../../assets/images/splash.png") 0 0/100% 100% no-repeat;
//     max-height: 100%;
//     width: auto;
// }

// .content-title {
//     animation: content-title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
//     animation-duration: 2s;
//     height: 100%;
//     display: flex;
//     align-items: center;
// }

// .login-form {
//     width: 50%;
//     margin-left: auto;
// }

.center {
    height: 100%;
    width: 100%;
    // background-color: var(--ion-color-primary) !important;
    background: url("../../assets/images/Login_screen_1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .form-inside {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: var(--ion-color-primary) !important;
        .form-content {
            width: 430px;
            border: 1px solid var(--ion-color-secondary);
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .app-logo {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .inputs-content {
            ion-item {
                --border-radius: 30px;
                margin-bottom: 20px;
                --border-style: none;
                --highlight-height: 0;
                .pass-input{
                    position: relative;
                    padding-right: 50px !important;
                }
                ion-icon{
                    position: absolute;
                    right: 30px;
                }
            }
            ion-item {
                ion-input {
                    border: solid 1px var(--ion-color-primary);
                    border-radius: 50px;
                    --padding-start: 20px;
                    --placeholder-color: var(--ion-color-primary);
                    --placeholder-opacity: 1;
                }
            }
        }
        .options-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            .options-checkbox {
                display: flex;
                align-items: center;
                // color: #fff;
                color: var(--ion-color-secondary);
                ion-label {
                    padding-left: 10px;
                }
            }
            .forgot-pass-div {
                color: var(--ion-color-secondary);
            }
        }
        .login-btn-div {
            margin-bottom: 50px;
            button {
                width: 100%;
                height: 40px;
                border-radius: 30px;
                background: var(--ion-color-secondary);
                color: #fff;
            }
        }
    }
}
