<!-- <ion-content>
  <div class="content-title" style="    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; padding-top: 450px;">
    <form class="login-form" [formGroup]="loginForm">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="login()" type="submit" color="danger" expand="block">Sign In</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <a [routerLink]="['/forgotpass']" class="small-text">Forgot Password?</a>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content> -->

<ion-content>
  <div class="center">
    <div class="form-inside">
      <form>
        <div class="form-content">
          <div class="app-logo">
            <img src="../../assets/images/logo.png" />
          </div>
          <div class="inputs-content">
            <ion-item>
              <ion-input placeholder="Your Email" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <!-- <ion-input placeholder="********" type="password"></ion-input> -->
              <ion-input class="pass-input" placeholder="Your Password" [type]="passwordType"  clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <div class="options-div">
              <div class="options-checkbox">
                <ion-checkbox checked="true"></ion-checkbox>
                <ion-label>Remember me</ion-label>
              </div>
              <div class="forgot-pass-div">
                <ion-label (click)="forgotpass()">Forgot Password ?</ion-label>
                <!-- <a (click)="forgotpass()">Forgot Password ?</a> -->
              </div>
            </div>
          </div>
          <div class="login-btn-div">
            <button type="button" (click)="login()">SIGN IN</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>