// .modal-collapse-col {
//     background-color: var(--ion-primary-background);
//     margin-left: 20px;
//     margin-right: 20px;
//     .modal-collapse {
//         background-color: #eeebf6;
//         color: #444;
//         cursor: pointer;
//         padding: 12px;
//         width: 100%;
//         border: none;
//         text-align: left;
//         outline: none;
//         transition: 0.6s;
//         position: relative;
//     }
//     .active,
//     .modal-collapse:hover {
//         background-color: #eeebf6;
//     }
//     .modal-collapse:after {
//         position: absolute;
//         right: 20px;
//         top: 5px;
//         transform: translate(50%, 50%);
//         content: url("../../../../assets/images/Icon\ awesome-angle-down.png");
//     }
//     .active:after {
//         position: absolute;
//         right: 20px;
//         top: 5px;
//         transform: translate(50%, 50%);
//         content: url("../../../../assets/images/Icon\ awesome-angle-up.png");
//     }
//     .modal-collapse-panel {
//         background-color: #eeebf6;
//         max-height: 0;
//         overflow: hidden;
//         transition: max-height 0.4s ease-out;
//     }
// }

h3 {
    text-align: center;
    font-weight: bold;
    color: var(--ion-color-primary);
}
.input-text {
    border: 1px solid var(--ion-color-secondary);
    border-radius: 20px;
    margin-top: 20px;
}
// .record-btn {
//     font-size: 18px !important;
//     color: #fff;
//     background-color: var(--ion-color-secondary);
//     padding: 10px 50px;
//     border-radius: 20px;
//     margin: 20px;
// }

.line::after {
    content: "";
    width: 40%;
    border-bottom: solid 2px var(--ion-color-secondary);
    position: absolute;
    left: 30%;
    top: 100%;
    z-index: 1;
}

.colse-img{
    justify-content: flex-end;
    display: flex;
}

.my-nav {
    padding-left: 0px;
    li {
        list-style-type: none;
      padding-top: 20px;
      padding-bottom: 3px;
      padding-left: 25px;
      position: relative;
      color: var(--ion-color-primary);
    }
    li:before {
      content: url("../../../../assets/icon/Ellipse\ 33.png");
      position: absolute;
      left: 0px;
      top: 23px;
    }
}


