<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="line">
        <div class="colse-img">
          <img src="../../../../assets/icon/Icon metro-cross.png" (click)="closeModal()" class="ion-text-end">
        </div>
        <h3>INFORMATION</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ul class="my-nav">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </li>

      </ul>
    </ion-row>
  </ion-grid>

</ion-content>