<!-- <ion-content [fullscreen]="true">
  <div>
    <p>Change Password</p>
  </div>
</ion-content> -->
<ion-content>
  <app-home-header></app-home-header>
  <div class="main-content">
    <h1>Change Password</h1>
  </div>
  <div class="inputs-content">
    <ion-item>
      <ion-input placeholder="current Password" [type]="passwordType"  clearOnEdit="false"></ion-input>
      <!-- <img src="../../../assets/images/eye.png"/> -->
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirm New Password" [type]="passwordType"  clearOnEdit="false"></ion-input>
      <!-- <img src="../../../assets/images/eye.png"/> -->
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder=" New Password" [type]="passwordType"  clearOnEdit="false"></ion-input>
      <!-- <img src="../../../assets/images/eye.png"/> -->
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <!-- <div (click)="gotoForgotPass()">
      <p class="forgot-pass">Forgot Password ?</p>
    </div> -->
    <div class="save-btn" (click)="changePassword()">
      <button>SAVE</button>
     
    </div>
    <!-- <div class="save-btn" (click)="Emaillink()">
      <button>SAVE</button>
    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <div class="page-footer">
    <div class="footer-menu">
      <img src="../../../assets/images/timer.png" />
      <span>00:00:00</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/notes.png" />
      <span>ADD NOTES</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/summary.png" />
      <span>SUMMARY SESSION NOTE</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/help.png" />
      <span>HELP?</span>
    </div>
  </div>
</ion-footer> -->