.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    h1 {
        color: var(--ion-color-primary);
    }
}
.inputs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    ion-item {
        width: 50%;
        --border-radius: 30px;
        margin-bottom: 20px;
        --border-style: none;
        --highlight-height: 0;
        ion-input {
            border: solid 1px var(--ion-color-secondary);
            border-radius: 50px;
            --padding-start: 20px;
            --placeholder-color: #707070;
            --placeholder-opacity: 1;
            position: relative;
            padding-right: 60px !important;
        }
        ion-icon{
            position: absolute;
            right: 40px;
        }
    }
    .save-btn{
        margin-top: 30px;
        button{
            padding-left: 175px;
            padding-right: 175px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 16px;
            border-radius: 30px;
            background: var(--ion-color-secondary);
            color: var(--white-color);
        }
    }
    .forgot-pass{
        color: var(--ion-color-primary);
    }
}





