<ion-content>
  <app-home-header></app-home-header>

  <div class="main-content">
    <h1>  Learners</h1>
  </div>
  <div class="container-div">
    <div [ngClass]="isShown ? 'div1Class': 'div1Class2'">
      <div [ngClass]="isShown ? 'hidepadding': 'showpadding'">
        <ion-grid class="table-grid">
          <ion-row class="table-row">
            <ion-col size="4">
              <p>Learner</p>
            </ion-col>
            <ion-col size="3">
              <p>Session Profile</p>
            </ion-col>
            <ion-col size="5">
              <p>Select Action</p>
            </ion-col>
          </ion-row>
          <ion-row class="table-content-col">
            <ion-col size="4">
              <p class="table-list">Emilia Stephanie</p>
            </ion-col>
            <ion-col size="3">
              <h4>Session 01</h4>
            </ion-col>
            <ion-col size="5">
              <button (click)="startSession()">Start Session</button>
              <button (click)="showSideDrawer()" class="btn">View Session</button>
            </ion-col>
          </ion-row>
          <ion-row class="table-content-col1">
            <ion-col size="4">
              <p class="table-list">Jhon Mark</p>
            </ion-col>
            <ion-col size="3">
              <h4>Session 02</h4>
            </ion-col>
            <ion-col size="5">
                <button (click)="startSession()">Start Session</button>
                <button (click)="showSideDrawer()">View Session</button>
            </ion-col>
          </ion-row>
          <ion-row class="table-content-col2">
            <ion-col size="4">
              <p class="table-list">Traviss Scott</p>
            </ion-col>
            <ion-col size="3">
              <h4>Session 03</h4>
            </ion-col>
            <ion-col size="5">
                <button (click)="startSession()">Start Session</button>
                <button class="view active" (click)="showSideDrawer()">View Session</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div [ngClass]="isShown ? 'div2Class': 'div2Class2'">
      <div style="padding-top: 33px; border-bottom: 1px solid grey;">
      </div>
      <div style="text-align: center;">
        <h5 style="padding-top: 20px; padding-bottom: 20px; ">List of Clinical Programs</h5>
        <div class="accordion-col">
          <div class="accordion">
            <p style="margin: 0px;" class="text1">Matching</p>
          </div>
          <div class="panel mt-5">
            <p (click)="openModal()"  class="text">0/2 Matching Shoes</p>
            <p class="text">0/2 Matching Shoes</p>
            <p class="text">0/2 Matching Shoes</p>
            <p class="text">0/2 Matching Shoes</p>
          </div>
          <div class="accordion">
            <p style="margin: 0px;"  class="text1">Matching</p>
          </div>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </p>
          </div>
          <div class="accordion">
            <p style="margin: 0px;"  class="text1">Matching</p>
          </div>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </p>
          </div>
          <div style="margin-top: 50px;">
            <button class="start-btn" (click)="startSession()">Start Session</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let post of posts">
        <ion-label>{{ post.id }}: {{ post.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar> -->
</ion-content>