ion-grid {
    padding: 0px !important;
}
// .home-header {
//     display: flex;
//     justify-content: space-between;
//     padding: 30px;
//     border-bottom: 1px solid var(--ion-color-primary);
//     .home-header-left {
//         display: flex;
//         flex-direction: row;
//         width: 50%;
//         .welcome-text {
//             margin-left: 25px;
//         }
//     }
//     .home-header-right {
//         width: 50%;
//     }
// }

.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    h1 {
        color: var(--ion-color-primary);
    }
}

.container-div {
    display: flex;
    flex-wrap: nowrap;
    .div1Class {
        width: 100%;
        .hidepadding {
            padding-left: 50px;
            padding-right: 50px;
        }

        .showpadding {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .div1Class2 {
        width: 100%;
        .hidepadding {
            padding-left: 50px;
            padding-right: 50px;
        }

        .showpadding {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .div2Class {
        min-height: calc(100vh - 220px);
        width: 0px;
        background-color: #faf6fd;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }

    .div2Class2 {
        min-height: calc(100vh - 220px);
        width: 400px;
        background-color: #faf6fd;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }

    .table-grid {
        .table-row {
            background-color: #faf6fd;
            ion-col {
                text-align: center;
                p {
                    font-weight: bold;
                    color: var(--ion-color-primary);
                }
            }
        }
        .table-content-col {
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
            ion-col {
                display: flex;
                justify-content: center;
                align-items: center;
                h4 {
                    font-weight: bold;
                    color: var(--ion-color-primary);
                }
            }
        }
    }
}


.table-content-col::after{
        content: "";
        width: 73%;
        border-bottom: solid 2px lightgray;
        position: absolute;
        left: 12%;
        top: 100%;
        z-index: 1;
}

.table-content-col1::after{ 
    content: "";
    width: 73%;
    border-bottom: solid 2px lightgrey;
    position: absolute;
    left: 12%;
    top: 93%;
    z-index: 1;
}
.table-content-col1 {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }
}
.table-content-col2::after{
    content: "";
    width: 73%;
    border-bottom: solid 2px lightgray;
    position: absolute;
    left: 12%;
    top: 95%;
    z-index: 1;
}
.table-content-col2 {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }
}
button {
    margin-left: 10px;
    margin-right: 10px;
    background: var(--ion-color-primary);
    color: #fff;
    padding: 10px 15px;
}

.accordion-col {
    background-color: var(--ion-primary-background);
    min-height: calc(100vh - 232px);
    margin-left: 20px;
    margin-right: 20px;
    .accordion {
        background-color: #eeebf6;
        color: #444;
        cursor: pointer;
        padding: 12px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.6s;
        position: relative;
    }
    .active,
    .accordion:hover {
        background-color: #eeebf6;
    }
    .accordion:after {
        position: absolute;
        right: 20px;
        top: 5px;
        transform: translate(50%, 50%);
        content: url("../../../assets/images/Icon\ awesome-angle-down.png");
    }
    .active:after {
        position: absolute;
        right: 20px;
        top: 5px;
        transform: translate(50%, 50%);
        content: url("../../../assets/images/Icon\ awesome-angle-up.png");
    }
    .panel {
        background-color: #eeebf6;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
}

.table-list {
    // font-weight: bold;
    color: var(--ion-color-primary);
    font-size: 18px;
}

h5 {
    font-family: "Quicksand-Bold" !important;
    color: #1f1f41;
}

.text {
    color: #1f1f41;
    font-size: 15px !important;
    font-family: "Quicksand-SemiBold" !important;
    margin: 10px;
}
.text1 {
    font-family: "Quicksand-Bold" !important;
    color: #1f1f41;
}
.start-btn {
    margin-left: 10px;
    margin-right: 10px;
    background: var(--ion-color-primary);
    color: #fff;
    padding: 15px 35px;
    font-size: 17px;
}

.btn:active{
    background-color: var(--ion-color-secondary);
}
