.container {
    white-space: nowrap;
    display: flex;
}
.column50 {
    width: 100%;
}

.column100 {
    width: 100%;
}

.secondDiv {
    width: 68px;
    text-align: center;
    padding-top: 20px;
    background-color: var(--ion-primary-background);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 65px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    min-height: calc(100vh - 232px);
}

.secondDivWidth {
    width: 350px;
    background-color: var(--ion-primary-background);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 30px;
    margin-bottom: 65px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    min-height: calc(100vh - 232px);
    .event-based {
        ul {
            margin: 0px;
            padding: 10px 0px 0px 0px;
            li {
                list-style: none;
                padding: 15px;
            }
        }
    }
}

.page-header {
    text-align: center;
    background-color: var(--ion-primary-background);
    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--ion-color-primary);
        margin: 0px !important;
    }
}

ion-grid {
    padding: 0px !important;
}

.page-title {
    // display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid var(--ion-color-primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    .page-topic-div {
        padding-top: 5px;
        padding-bottom: 5px;
        .page-topic-title {
            display: inline;
            color: #707070;
        }
        .page-topic-content {
            display: inline;
            color: var(--ion-color-secondary);
        }
    }
    .phase-btn {
        background: var(--ion-color-primary);
        padding: 5px;
        color: #ffffff;
        border-radius: 10px;
    }
    // .page-title-btn{
    //     width: 110px;
    //     height: 30px;
    // }
}

.table-col {
    padding: 20px;
    .record-data {
        text-align: center;
        margin-top: 50px;
        .record-btn {
            font-size: 22px !important;
            padding: 20px 30px;
            border-radius: 2px;
        }
    }
    .record-box {
        display: flex;
        justify-content: center;
        .record-box-div {
            margin-top: 50px;
            border: 1px solid var(--ion-color-primary);
            width: 70%;
            border-radius: 20px;
            .record-box-div-header {
                text-align: center;
                h6 {
                    margin: 0px !important;
                    background: var(--ion-color-primary);
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    color: var(--white-color);
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        ul {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-bottom: 5px;
            li {
                list-style: none;
                position: relative;
                // border-bottom: 1px solid black;
                padding-bottom: 8px;
                padding-top: 8px;
            }
            li::after {
                position: absolute;
                height: 1px;
                width: 90%;
                content: "";
                background-color: gray;
                bottom: 0px;
                left: 20px;
            }
            li:last-child::after {
                position: absolute;
                height: 0px;
                width: 0px;
                content: "";
                background-color: gray;
            }
        }
    }
    .table-grid {
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        padding: 0px;
        border: 1px solid var(--ion-color-primary);
        .table-row {
            background-color: #dce0e8;
        }
        .odd {
            background: #ffffff;
            ion-col {
                border-right: 1px solid var(--ion-color-primary);
                // text-align: center;
            }
            ion-col:last-child {
                border-right: none !important;
                // text-align: center;
            }
        }
        .even {
            background: #faf6fd;
            ion-col {
                border-right: 1px solid var(--ion-color-primary);
                padding: 10px !important;
                // text-align: center;
            }
            ion-col:last-child {
                border-right: none !important;
                padding: 10px !important;
                // text-align: center;
            }
        }
        ion-col {
            padding: 10px !important;
            // text-align: center;
        }
    }
}

ion-col {
    padding: 0px !important;
    .collapse-col {
        background-color: var(--ion-primary-background);
        min-height: 100vh;
        .session-collapse {
            padding-top: 30px;
            .collapse-div {
                // background-color: #eeebf6;
                color: #444;
                cursor: pointer;
                padding: 12px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                transition: 0.6s;
                position: relative;
            }
            // .active,
            // .collapse-div:hover {
            //     // background-color: #eeebf6;
            // }
            .collapse-div:after {
                position: absolute;
                right: 20px;
                top: 5px;
                transform: translate(50%, 50%);
                content: url("../../../../assets/images/Icon\ awesome-angle-down.png");
            }
            .active:after {
                position: absolute;
                right: 20px;
                top: 5px;
                transform: translate(50%, 50%);
                content: url("../../../../assets/images/Icon\ awesome-angle-up.png");
            }
            .collapse-panel {
                // background-color: #eeebf6;
                max-height: 0;
                overflow: hidden;
                white-space: pre-wrap;
                transition: max-height 0.4s ease-out;
            }
        }

        .session-col {
            padding-top: 30px;
            .session-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid black;
                padding-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .session-det-list {
                ul {
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    margin: 0px !important;
                    li {
                        list-style: none;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

.page-footer {
    text-align: center;
    width: 100%;
    background: var(--ion-color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    // align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    .footer-menu {
        padding: 12px 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        border: 0px;
        span {
            padding-left: 12px;
        }
        .end-session-btn {
            padding: 6px;
            background: #ffffff;
            color: var(--ion-color-secondary);
        }
    }
}
a {
    color: #fff;
    text-decoration: none;
}

.router-link-active::before {
    color: var(--ion-color-primary) !important;
    position: absolute;
    content: "";
    background-color: BLUE;
    left: 8px;
    bottom: 0;
    width: 50%;
    height: 4px;
}
.text-header {
    font-weight: bold;
    color: var(--ion-color-primary);
}
.event {
    font-family: "Quicksand-Bold" !important;
    color: var(--ion-color-secondary);
}

li {
    font-family: "Quicksand-SemiBold" !important;
    color: var(--ion-color-primary);
}
.number {
    display: flex;
    justify-content: space-between;
}
.increse {
    display: flex;
    align-items: center;
}

h5 {
    font-family: "Quicksand-Bold" !important;
    color: var(--ion-color-primary);
    font-size: 17px !important;
}
h6 {
    font-family: "Quicksand-SemiBold" !important;
    font-size: 15px !important;
    color: var(--ion-color-primary);
   
}
.icon-inner {
    color: var(--ion-color-secondary);
}
.increse {
    font-size: 20px;
    font-family: "Quicksand-Bold" !important;
}

// .search{
//     background-color: #444;
// }
.session-search {
    display: flex;
    justify-content: space-between;
}
.image {
    align-items: center;
    display: flex;
    // padding: 10px;
    padding-top: 20px;
    padding-right: 10px;
}
.icon {
    height: 15px;
    width: 16px;
}
.icon-img {
    align-items: center;
    display: flex;
    margin-left: 45px;
}
.icon-img1 {
    align-items: center;
    display: flex;
    margin-left: 130px;
}
.icon-img2 {
    align-items: center;
    display: flex;
    margin-left: 56px;
}

div:focus {
    background:transparent linear-gradient(270deg, #EB2168 0%, #BF1B549F 0%, #76113400 100%) 0% 0% no-repeat padding-box;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px;
}
.tab-header{
    font-family: 'Quicksand-Bold' !important;
    text-align: center;
}