<ion-content [fullscreen]="true">
  <div class="page-header">
    <h2>Brush Teeth Training</h2>
  </div>
  <ion-grid>
    <div class="page-title">
      <ion-row>
        <p *ngIf="dataReturned">{{dataReturned}}</p>
        <ion-col>
          <div class="page-topic-div">
            <p class="page-topic-title">TARGET - </p>
            <p class="page-topic-content">Brush</p>
          </div>
          <div class="page-topic-div">
            <p class="page-topic-title">PHASE - </p>
            <p class="page-topic-content">Regress</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-grid>
              <div style="text-align: left;">
                <ion-row>
                  <ion-col size="5">
                    <p>Instruction:</p>
                  </ion-col>
                  <ion-col size="4">
                    <p class="text-header">Brush Your teeth</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">
                    <p>Prompting Procedure:</p>
                  </ion-col>
                  <ion-col size="4">
                    <p class="text-header">Time Delay</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5">
                    <p>TA:</p>
                  </ion-col>
                  <ion-col size="4">
                    <p class="text-header">Forward Chain</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: end;">
            <div>
              <button class="page-title-btn secondary-button">Regress Phase</button>
            </div>
            <div style="margin-top: 15px;">
              <button (click)="openModal()" class="page-title-btn secondary-button">+ Information</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div class="container">
    <div [ngClass]=" showId ? 'column100' : 'column50'">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <div class="collapse-col">
              <div class="session-search">
                <div>
                  <ion-searchbar [clearIcon]="false" placeholder="Search Learner or Session here" class="search">
                  </ion-searchbar>
                </div>
                <div class="image">
                  <img src="../../../../assets/icon/suffle.png" class="icon">
                </div>

              </div>
              <div class="session-collapse">
                <div class="collapse-div">
                  <h5 style="margin: 0px;">Pinned Items</h5>
                </div>
                <div class="collapse-panel">
                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%;">
                      <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/icon-02.svg" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%;">
                      <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/icon-02.svg" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%;">
                      <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/icon-02.svg" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%;">
                      <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/icon-02.svg" />
                    </div>
                  </div>
                </div>
                <div class="collapse-div" style="display: flex;">
                  <div>
                    <h5 style="margin: 0px; margin-left: 20px;">Queue Items</h5>
                  </div>
                  <div class="icon-img">
                    <img src="../../../../assets/icon/suffle.png">
                  </div>
                </div>
                <div class="collapse-panel" style="margin-left: 20px;">

                  <div style="width: 80%;">
                    <h6 style="white-space: pre-wrap;">1/5 Tact: Airplane
                    </h6>
                  </div>

                  <div style="width: 80%;">
                    <h6 style="white-space: pre-wrap;">1/5 Tact: Airplane
                    </h6>
                  </div>

                  <div style="width: 80%;">
                    <h6 style="white-space: pre-wrap;">1/5 Tact: Airplane
                    </h6>
                  </div>

                  <div style="width: 80%;">
                    <h6 style="white-space: pre-wrap;">1/5 Tact: Airplane
                    </h6>
                  </div>
                </div>


                <div class="collapse-div" style="display: flex;">
                  <div>
                    <h5 style="margin: 0px; margin-left: 20px;">Matching</h5>
                  </div>
                  <div class="icon-img1">
                    <img src="../../../../assets/icon/Group 955.png">
                  </div>
                </div>

                <div class="collapse-panel">
                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%; display:flex ; " tabindex="1">
                      <div>
                        <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                      </div>
                      <div class="icon-img2">
                        <img src="../../../../assets/icon/Group 955.png">
                      </div>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/push-pin (1).png" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%; display:flex ;" tabindex="2">
                      <div>
                        <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                      </div>
                      <div class="icon-img2">
                        <img src="../../../../assets/icon/Group 955.png">
                      </div>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/push-pin (1).png" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%; display:flex ;" tabindex="3">
                      <div>
                        <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                      </div>
                      <div class="icon-img2">
                        <img src="../../../../assets/icon/Group 955.png">
                      </div>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/push-pin (1).png" />
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-around; align-items: center;">
                    <div style="width: 80%; display:flex ;" tabindex="4">
                      <div>
                        <h6 style="white-space: pre-wrap;">0/2 Matching Shoes</h6>
                      </div>
                      <div class="icon-img2">
                        <img src="../../../../assets/icon/Group 955.png">
                      </div>
                    </div>
                    <div>
                      <img src="../../../../assets/icon/push-pin (1).png" />
                    </div>
                  </div>

                </div>
                <div class="collapse-div">
                  <h5 style="margin: 0px;">Tact</h5>
                </div>
                <div class="collapse-panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                  </p>
                </div>
                <div class="collapse-div">
                  <h5 style="margin: 0px;">Mand</h5>
                </div>
                <div class="collapse-panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                  </p>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="9" class="table-col">
            <ion-grid class="table-grid">

              <ion-row class="table-row">
                <ion-col size="4" class="tab-header">Steps</ion-col>
                <ion-col size="1" class="tab-header">0S</ion-col>
                <ion-col size="1" class="tab-header">2S</ion-col>
                <ion-col size="1" class="tab-header">4S</ion-col>
                <ion-col size="2" class="tab-header">Activity</ion-col>
                <ion-col size="1" class="tab-header">Correct</ion-col>
                <ion-col size="1" class="tab-header">Incorrect</ion-col>
              </ion-row>
              <ion-row [ngClass]="(0 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">1. Get tooth brush</ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1" style="text-align: center;">   <img src="../../../../assets/icon/check-mark.png"></ion-col>
                <ion-col size="2" style="color: var(--ion-color-primary); font-weight: bold; text-align: center;">Partial
                  physical </ion-col>
                <ion-col size="1" style="text-align: center;">   <img src="../../../../assets/icon/check-mark.png"></ion-col>
                <ion-col size="1" style="text-align: center;">   <img src="../../../../assets/icon/check-mark.png"></ion-col>
              </ion-row>


              <ion-row [ngClass]="(1 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">2. Get tooth paste</ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>

              <ion-row [ngClass]="(2 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">3. Put tooth paste on the tooth
                  brush</ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>

              <ion-row [ngClass]="(1 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">4. Brush the top left</ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>

              <ion-row [ngClass]="(2 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">5. Brush the bottom left</ion-col>
                <ion-col size="1" style="text-align: center;">   <img src="../../../../assets/icon/check-mark.png"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>

              <ion-row [ngClass]="(1 % 2 == 0) ? 'odd' : 'even'">
                <ion-col size="4" style="font-weight: bold;">6. Brush the top left</ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
            </ion-grid>
            <div class="record-data">
              <button class="record-btn secondary-button" (click)="recorddata()">Record Data</button>
            </div>
            <div class="record-box">
              <div class="record-box-div">
                <div class="record-box-div-header">
                  <h6>
                    Previous Records</h6>
                </div>
                <div>
                  <ul>
                    <li>
                      1. Brush teeth training
                    </li>
                    <li>
                      2. Shoes: Baseline
                    </li>
                    <li>
                      2. Fruit: Baseline
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div [ngClass]=" showId ? 'secondDiv' : 'secondDivWidth'">
      <img *ngIf="showId" (click)="toggleId()" src="../../../assets/icon/application.svg" />
      <div *ngIf="!showId" style="padding: 20px 15px 0px 15px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
          <div style="display: flex; flex-direction: row;">
            <img (click)="toggleId()" style="height: 25px; width: 25px;" src="../../../assets/icon/application.svg" />
            <p style="margin-left: 5px !important;" class="event">Event-Based Behaviors</p>
          </div>
          <div>
            <img src="../../../../assets/icon/icon-01.svg" />
          </div>
        </div>
        <div class="event-based">
          <ul>
            <div class="number">
              <div>
                <li>Vocalization</li>
              </div>

              <div class="increse">
                <ion-icon class="icon-inner" name="remove" (click)="decrement()">-</ion-icon>
                {{currentNumber}}
                <ion-icon name="add" class="icon-inner" (click)="increment()">+</ion-icon>
              </div>
            </div>
            <li>Spontaneous Mands</li>
            <li>Spontaneous Eye
              Contact</li>
            <li>Independent Reading</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="page-footer">
    <div class="footer-menu">
      <img src="../../../assets/images/timer.png" />
      <span>00:00:00</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/notes.png" />
      <a routerLink="/menu/first/addnotes"><span>ADD COMMENTS</span></a>
    </div>
    <div class="footer-menu" (click)="onfocus()">
      <img src="../../../assets/images/summary.png" />
      <a routerLink="/menu/first/summary"><span>SESSION NOTE</span></a>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/help.png" />
      <span>HELP?</span>
    </div>
    <div class="footer-menu">
      <button class="end-session-btn" (click)="logOut()">End Session</button>

    </div>
  </div>
</ion-footer>