.page-header {
    text-align: center;
    background-color: var(--ion-primary-background);
    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--ion-color-primary);
        margin: 0px !important;
    }
}

ion-grid {
    padding: 0px !important;
}

.page-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--ion-color-primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    .page-topic-div {
        padding-top: 5px;
        padding-bottom: 5px;
        .page-topic-title {
            display: inline;
            color: #707070;
        }
        .page-topic-content {
            display: inline;
            color: var(--ion-color-secondary);
        }
    }
    .phase-btn {
        background: var(--ion-color-primary);
        padding: 5px;
        color: #ffffff;
        border-radius: 10px;
    }
}

.table-col {
    padding: 20px;
    .table-grid {
        padding: 0px;
        border: 1px solid var(--ion-color-primary);
        .table-header-content {
            background-color: var(--ion-color-primary);
            color: #ffffff;
        }
        .table-row {
            background-color: #dce0e8;
            p {
                font-weight: bold;
            }
        }
        .table-content-col {
            ion-col {
                border-right: 1px solid var(--ion-color-primary);
            }
            ion-col:last-child {
                border: none !important;
            }
        }

        ion-col {
            text-align: center;
        }
    }
}

.accordion-col {
    background-color: var(--ion-primary-background);
    min-height: calc(100vh - 232px);
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.6s;
    }
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    .accordion:after {
        content: "\002B";
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        content: "\2212";
    }
    .panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
}

.page-footer {
    text-align: center;
    width: 100%;
    background: var(--ion-color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    .footer-menu {
        padding: 12px 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        span {
            padding-left: 12px;
        }
    }
}
