<ion-content>
  <div class="page-header">
    <h2>Bresh Teeth Training</h2>
  </div>
  <div class="page-title">
    <div>
      <div class="page-topic-div">
        <p class="page-topic-title">NAME OF PROGRAM - </p>
        <p class="page-topic-content">Brush teeth training</p>
      </div>
      <div class="page-topic-div">
        <p class="page-topic-title">TARGET - </p>
        <p class="page-topic-content">Brush</p>
      </div>
      <div class="page-topic-div">
        <p class="page-topic-title">PHASE - </p>
        <p class="page-topic-content">Regress</p>
      </div>
    </div>
    <div>
      <div class="phase-btn">
        <span>Regress Phase</span>
      </div>
    </div>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size="3" class="accordion-col">
        <h2>Accordion</h2>
        <div class="accordion">
          <button>Section 1</button>
        </div>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="accordion">
          <button>Section 2</button>
        </div>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="accordion">
          <button>Section 3</button>
        </div>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
      </ion-col>
      <ion-col size="9" class="table-col">
        <ion-grid class="table-grid">
          <!-- <ion-row class="table-header-content">
            <ion-col>ion-col</ion-col>
          </ion-row> -->
          <ion-row class="table-row">
            <ion-col size="4">
              <p>Steps</p>
            </ion-col>
            <ion-col size="1">
              <p>0S</p>
            </ion-col>
            <ion-col size="1">
              <p>2S</p>
            </ion-col>
            <ion-col size="1">
              <p>
                4S
              </p>
            </ion-col>
            <ion-col size="3">
              <p>
                Correct
              </p>
            </ion-col>
            <ion-col size="2">
              <p>
                Incorrect
              </p>
            </ion-col>
          </ion-row>
          <ion-row class="table-content-col">
            <ion-col size="4">1</ion-col>
            <ion-col size="1">2</ion-col>
            <ion-col size="1">3</ion-col>
            <ion-col size="1">4</ion-col>
            <ion-col size="3">5</ion-col>
            <ion-col size="2">6</ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="full" routerLink="/menu/first">go to second menu</ion-button>
        <ion-toolbar>
          <ion-list>
            <ion-item *ngFor="let post of posts">
              <ion-label>{{ post.id }}: {{ post.title }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-toolbar>
        <ion-row>
          <p (click)="showAlert()">Show Alert</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <div class="page-footer">
    <div class="footer-menu">
      <img src="../../../assets/images/timer.png" />
      <span>00:00:00</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/notes.png" />
      <span>ADD NOTES</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/summary.png" />
      <span>SUMMARY SESSION NOTE</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/help.png" />
      <span>HELP?</span>
    </div>
  </div>
</ion-footer>