.container {
    white-space: nowrap;
    display: flex;
}
.column50 {
    width: 100%;
}

.column100 {
    width: 100%;
}

.page-header {
    text-align: center;
    background-color: var(--ion-primary-background);
    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--ion-color-primary);
        margin: 0px !important;
    }
}

ion-grid {
    padding: 0px !important;
}

.page-title {
    border-bottom: 1px solid var(--ion-color-primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    .page-topic-div {
        padding-top: 5px;
        padding-bottom: 5px;
        .page-topic-title {
            display: inline;
            color: #707070;
        }
        .page-topic-content {
            display: inline;
            color: var(--ion-color-secondary);
        }
    }
}
h3{
    justify-content: center;
    display: flex;
}
.notes{
    background-color: var(--ion-primary-background);
    min-height: 100vh;
}

.secondary-button1{
    margin-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;   
    color: var(--ion-color-primary);
    background-color: #ffffff;
    border: 1px solid var(--ion-color-primary);
    border-radius: 50px;
}
.secondary-button2{
    margin-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;   
    color: #ffffff;
    background-color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    border-radius: 50px;
}
.italic{
    border: 1px solid var(--ion-color-secondary);
    border-radius: 20px;
}
.btn{
    justify-content: center;
    display: flex;
}

.page-footer {
    text-align: center;
    width: 100%;
    background: var(--ion-color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    // align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    .footer-menu {
        padding: 12px 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        span {
            padding-left: 12px;
        }
        .end-session-btn{
            padding: 6px;
            background: #FFFFFF;
            color: var(--ion-color-secondary);
        }
    }
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu.active{
    background-color: var(--ion-color-primary);
}