<ion-content [fullscreen]="true">
  <div class="page-header">
    <h2>Bresh Teeth Training</h2>
  </div>
  <ion-grid>
    <div class="page-title">
      <ion-row>
        <!-- <p *ngIf="dataReturned">{{dataReturned}}</p> -->
        <ion-col>
          <div class="page-topic-div">
            <p class="page-topic-title">TARGET - </p>
            <p class="page-topic-content">Brush</p>
          </div>
          <div class="page-topic-div">
            <p class="page-topic-title">PHASE - </p>
            <p class="page-topic-content">Regress</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-grid>
              <div style="text-align: left;">
                <ion-row>
                  <ion-col>
                    Instruction:
                  </ion-col>
                  <ion-col>
                    Brush Your teeth
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Reinforcement Schedual:
                  </ion-col>
                  <ion-col>
                    F1
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </ion-col>
        <!-- <ion-col>
          <div style="text-align: end;">
            <div>
              <button class="page-title-btn secondary-button">Regress Phase</button>
            </div>
            <div style="margin-top: 15px;">
              <button  (click)="openModal()" class="page-title-btn secondary-button">+ Information</button>
            </div>
          </div>
        </ion-col> -->
      </ion-row>
    </div>
    <ion-row>
      <ion-col size="3" class="notes">
        <h3>Your Notes</h3>
        <div>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </div>

      </ion-col>
      <ion-col size="9" class="card">
        <h3>Add notes</h3>
        <div style="margin: 20px;">
          <ion-textarea class="italic" rows="10" cols="5" autoGrow="true" maxlength="200"
            placeholder="Enter your note here..."></ion-textarea>
        </div>
        <ion-row>
          <ion-col size="6">
            <div class="btn">
              <button class=" secondary-button1">Cancel</button>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="btn">
              <button (click)="savenote()" class="secondary-button2">Save</button>
            </div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>


  <ion-footer>
    <div class="page-footer">
      <div class="footer-menu">
        <img src="../../../assets/images/timer.png" />
        <span>00:00:00</span>
      </div>
      <div class="footer-menu active">
        <img src="../../../assets/images/notes.png" />
        <a routerLink="/menu/first/addnotes"><span>ADD COMMENTS</span></a>
      </div>
      <div class="footer-menu">
        <img src="../../../assets/images/summary.png" />
        <a routerLink="/menu/first/summary"><span>SESSION NOTE</span></a>
      </div>
      <div class="footer-menu">
        <img src="../../../assets/images/help.png"/>
        <span>HELP?</span>
      </div>
      <div class="footer-menu">
        <button class="end-session-btn" (click)="logOut()" >End Session</button>
        
      </div>
    </div>
  </ion-footer>