<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <div>
    <p>Change Password</p>
  </div>
</ion-content> -->
<!-- <ion-content>
  <div class="main-content">
    <h1>Forgot Password</h1>
  </div>
  <div class="inputs-content">
    <ion-item>
      <ion-input placeholder="Enter Your Current Password" [type]="passwordType"  clearOnEdit="false"></ion-input> -->
<!-- <img src="../../../assets/images/eye.png"/> -->
<!-- <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <div class="save-btn" (click)="changePassword()">
      <button>SAVE</button>
    </div>
  </div>
</ion-content> -->
<!-- <ion-footer>
  <div class="page-footer">
    <div class="footer-menu">
      <img src="../../../assets/images/timer.png" />
      <span>00:00:00</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/notes.png" />
      <span>ADD NOTES</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/summary.png" />
      <span>SUMMARY SESSION NOTE</span>
    </div>
    <div class="footer-menu">
      <img src="../../../assets/images/help.png" />
      <span>HELP?</span>
    </div>
  </div>
</ion-footer> -->

<ion-content>
  <div>
    <img src="../../assets/icon/Icon ionic-ios-arrow-back.png" class="back-arrow" (click)="back()">
  </div>
  <div class="center">
    <div class="form-inside">
      <form>
        <div class="form-header">
          <ion-title class="title">Forgot Password</ion-title>
         
        </div>
        <div class="form-header">
          <ion-title class="title2">Enter your email and get instructions for resetting your password</ion-title>
        </div>
        <div class="form-content">

          <div class="inputs-content">
            <ion-item>
              <ion-input placeholder="Your Email" type="text"></ion-input>
            </ion-item>
          </div>
          <div class="login-btn-div">
            <button type="button" (click)="changePassword()">Get Instructions</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>