// .main-content {
//     padding-top: 40px;
//     padding-bottom: 40px;
//     text-align: center;
//     h1 {
//         color: var(--ion-color-primary);
//     }
// }
// .inputs-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 30px;
//     ion-item {
//         width: 50%;
//         --border-radius: 30px;
//         margin-bottom: 20px;
//         --border-style: none;
//         --highlight-height: 0;
//         ion-input {
//             border: solid 1px var(--ion-color-secondary);
//             border-radius: 50px;
//             --padding-start: 20px;
//             --placeholder-color: #707070;
//             --placeholder-opacity: 1;
//             position: relative;
//             padding-right: 60px !important;
//         }
//         ion-icon{
//             position: absolute;
//             right: 40px;
//         }
//     }
//     .save-btn{
//         margin-top: 30px;
//         button{
//             padding-left: 175px;
//             padding-right: 175px;
//             padding-top: 12px;
//             padding-bottom: 12px;
//             font-size: 16px;
//             border-radius: 30px;
//             background: var(--ion-color-secondary);
//             color: var(--white-color);
//         }
//     }
// }

.center {
    height: 93%;
    width: 100%;
    // background-color: var(--ion-color-primary) !important;
    background: url("../../assets/images/Login_screen_1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .form-inside {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: var(--ion-color-primary) !important;
        .form-content {
            width: 430px;
            border: 1px solid var(--ion-color-secondary);
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 50px;
        }
        .app-logo {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .inputs-content {
            ion-item {
                --border-radius: 30px;
                margin-top: 50px;
                margin-bottom: 20px;
                --border-style: none;
                --highlight-height: 0;
                .pass-input{
                    position: relative;
                    padding-right: 50px !important;
                }
                ion-icon{
                    position: absolute;
                    right: 30px;
                }
            }
            ion-item {
                ion-input {
                    border: solid 1px var(--ion-color-primary);
                    border-radius: 50px;
                    --padding-start: 20px;
                    --placeholder-color: var(--ion-color-primary);
                    --placeholder-opacity: 1;
                }
            }
        }
        .options-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            .options-checkbox {
                display: flex;
                align-items: center;
                // color: #fff;
                color: var(--ion-color-secondary);
                ion-label {
                    padding-left: 10px;
                }
            }
            .forgot-pass-div {
                color: var(--ion-color-secondary);
            }
        }
        .login-btn-div {
            margin-bottom: 50px;
            button {
                width: 100%;
                height: 40px;
                border-radius: 30px;
                background: var(--ion-color-secondary);
                color: #fff;
            }
        }
    }
}

.title{
    font-size: 38px;
    font-weight: bold;
    color: var(--ion-color-primary);
}

.title2{
    text-align: center;
    font-size: 15px;
    color: var(--ion-color-secondary);
    margin-bottom: 20px;
    margin-top: 20px;
}

.back-arrow{
    margin-top: 20px;
    margin-left: 20px;
}