/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../src/assets/fonts/Quicksand/Quicksand-Bold.ttf");
}
@font-face {
    font-family: "Quicksand-Light";
    src: url("../src/assets/fonts/Quicksand/Quicksand-Light.ttf");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("../src/assets/fonts/Quicksand/Quicksand-Medium.ttf");
}
@font-face {
    font-family: "Quicksand-Regular";
    src: url("../src/assets/fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand-SemiBold";
    src: url("../src/assets/fonts/Quicksand/Quicksand-SemiBold.ttf");
}

* {
    font-family: "Quicksand-Regular" !important;
}


.f-12 {
    font-size: 12px !important;
}
.f-14 {
    font-size: 14px !important;
}
span,
.f-16 {
    font-size: 16px !important;
    margin: 0px !important;
}
li,
a,
p,
.f-18 {
    font-size: 18px !important;
    margin: 0px !important;
}
h5,
.f-20 {
    font-size: 20px !important;
    margin: 0px !important;
}
h4,
.f-22 {
    font-size: 22px !important;
    margin: 0px !important;
}
h3,
.f-24 {
    font-size: 24px !important;
    margin: 0px !important;
}
h2,
.f-26 {
    font-size: 26px !important;
    margin: 0px !important;
    font-family: "Quicksand-Bold" !important;
}
h1 {
    font-size: 38px !important;
    margin: 0px !important;
    font-family: "Quicksand-Bold" !important;
}
.f-28 {
    font-size: 28px !important;
    margin: 0px !important;
}

.ios ion-split-pane {
    padding: env(safe-area-inset-top);
}

ion-alert {
    backdrop-filter: blur(2px) !important;
}

.exitapp-content {
    color: var(--ion-color-secondary) !important;
    font-size: 25px;
    font-family: "Quicksand-Bold" !important;
}

.warning-icon {
    height: 80px;
    width: 80px;
}

.success-icon{
    height: 100px;
    width: 100px;
}

.success-content{
    color: var(--ion-color-secondary) !important;
    font-size: 16px;
    font-family: "Quicksand-Bold" !important;
    margin-top: 20px;
}

.alert-cancel-button {
    color: var(--ion-color-secondary) !important;
    border: none !important;
    span{
        font-size: 20px !important;
        font-family: "Quicksand-Bold" !important;
    }
}

.alert-ok-button {
    color: var(--ion-color-primary);
    border: none !important;
    span{
        font-size: 20px !important;
        font-family: "Quicksand-Bold" !important;
    }
   
}

.alert-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 294px !important;
    min-width: 435px !important;
    border-radius: 10px;
}

.alert-message {
    text-align: center !important;
}

.alert-button-group {
    display: flex !important;
    justify-content: center !important;
}

.primary-button {
    background-color: var(--ion-color-primary) !important;
    color: var(--white-color) !important;
    border-radius: 5px !important;
    font-family: "Quicksand-Bold";
    font-size: 14px !important;
    // padding: 8px 25px !important;
}

.secondary-button {
    background-color: var(--ion-color-secondary) !important;
    color: var(--white-color) !important;
    border-radius: 5px !important;
    font-family: "Quicksand-Bold" !important;
    font-size: 17px !important;
    padding: 10px 10px 10px 10px;
}
.searchbar-input {
    border-radius: 10px !important;
    box-shadow: none !important;
    color:  #999999 !important;
    background-color: #FAFAFA !important;
    width: 100% !important;
    // text-align: left !important;
    // padding: 20px 0px 20px 0px !important;
  }

// ion-searchbar {
//     padding: 0px;
   
//     .searchbar-input-container {
//         height: 50px !important;
     
//         ion-icon {
//             padding-left: 20px;
//         }
//         input {
//             padding-left: 60px !important;
//         }
//     }
// }

.session-search {
    ion-searchbar {
        padding: 0px;
        .searchbar-input-container {
            height: 40px !important;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 10px;
            width: 100%;
            ion-icon {
                // padding-left: 20px;
                color: var(--white-color) !important;
            }
            input {
                background: var(--ion-color-primary) !important;
                color: var(--white-color) !important;
                // padding-left: 60px !important;
            }
        }
    }
}

.modal-wrapper {
    height: 650px !important;
    width: 850px !important;
    border-radius: 40px !important;
}

